@import '../colors.css';

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-top: -3rem; 
}

.buttonAdmin {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--first-button-color);
    box-shadow: 0 10px 10px -10px var(--shadow-color);
  }

.buttonAdmin:disabled {
    background-color: var(--first-button-color-disabled);
    cursor: not-allowed;
    opacity: 0.6;
}

.divButton {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
}